@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background-color: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --primary: #4D4D4D;
    --secondary: #4CAF4F;
    --text-white: #FFFFFF;
    --paragraph: #717171;
    --nav-item: #18191F;

}

.container {
    margin: 0 auto;
    padding: 0 144px;
    max-width: 1440px;
}

/* Typography */
.section__title {
    font-size: 64px;
    line-height: 76px;
}

.section__title--small {
    font-size: 36px;
    line-height: 44px;
}

.section__subtitle {
    font-size: 16px;
    line-height: 24px;
    color: var(--paragraph);
}

/* Buttons */
.button {
    padding: 10px 20px;
    color: var(--text-white);
    background-color: var(--secondary);
    border-radius: 6px;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.button--primary {
    width: 100px;
}

/* Header */
.header {
    background-color: #F5F7FA;
}

.header__nav {
    padding: 30px 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: block;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__menu-item a {
    color: var(--nav-item);
    font-size: 18px;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__link {
    color: var(--secondary);
}

/* Hero */
.hero {
    background-color: #F5F7FA;
}

.hero__content {
    padding: 96px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero__title span {
    color: var(--secondary);
}

.hero__description {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--paragraph);
}

/* Clients */
.clients {
    padding: 40px 0;
    text-align: center;
}

.clients__intro {
    padding: 40px 0;
    text-align: center;
}

.clients__logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.community {
    text-align: center;
    margin-bottom: 20px;
}

.community__cards {
    margin: 20px 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.community-card {
    width: 33%;
    height: auto;
    box-shadow: 0px 2px 4px 0px #ABBED133;
    padding: 30px;
    text-align: center;
}

.community-card__title {
    font-size: 28px;
    line-height: 36px;
    margin: 16px 0 8px;
}

.community-card__description {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--paragraph);
}

/* Pixelgrade */
.pixelgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 0;
}

.pixelgrade__content {
    max-width: 50%;
}

.pixelgrade__description {
    margin: 16px 0 32px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--paragraph);
}

/* Helping */
.helping {
    background-color: #F5F7FA;
    padding: 64px 0;
}

.helping__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.helping__text {
    max-width: 40%;
}

.helping__text span {
    color: var(--secondary);
}

.helping__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 6px;
}

.stat__info {
    display: flex;
    flex-direction: column;
}

.stat__number {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.stat__label {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--paragraph);
}

/* Design */
.design {
    padding: 48px 0;
}

.design__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}

.design__text {
    max-width: 50%;
}

.design__description {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--paragraph);
}

/* Customers */
.customers {
    background-color: #F5F7FA;
    padding: 32px 0;
}

.customers__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 78px;
}

.customers__text {
    max-width: 50%;
}

.customers__quote {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--paragraph);
}

.customers__highlight {
    color: var(--secondary);
    font-weight: 700;
}

.customers__logos {
    display: flex;
    align-items: center;
    gap: 41px;
    justify-content: start;
    margin-top: 32px;
}

.customers__logos a {
    color: var(--secondary);
}

/* Marketing */
.marketing {
    text-align: center;
    padding: 48px 0;
}

.marketing__content {
    max-width: 100%;
}

.marketing__cards {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.marketing-card {
    position: relative;
    flex: 1;
}

.marketing-card img {
    width: 100%;
    display: block;
}

.marketing-card__overlay {
    margin: 0 auto;
    width: 300px;
    position: relative;
    bottom: 80px;
    padding: 16px;
    border-radius: 8px;
    background-color: #F5F7FA;
    box-shadow: 0px 8px 16px 0px #ABBED166;
}

.marketing-card__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
    color: var(--primary);
}

.marketing-card__overlay a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--secondary);
}

/* CTA */
.cta {
    padding: 32px 0;
    text-align: center;
    background-color: #F5F7FA;
}

.cta__title {
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 32px;
}

/* Footer */
.footer {
    background-color: #263238;
    padding: 64px 0 75px;
}

.footer__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
}

.footer__brand {
    max-width: 30%;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__logo h2 {
    color: var(--text-white);
    font-size: 28px;
    line-height: 36px;
}

.footer__copyright {
    margin: 20px 0 40px;
    color: var(--text-white);
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.footer__links {
    display: flex;
    align-items: start;
    gap: 150px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__heading {
    color: var(--text-white);
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
}

.footer a {
    color: #F5F7FA;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__newsletter h4 {
    color: var(--text-white);
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
}

.footer__input {
    border-radius: 13px;
    padding: 15px;
    background-color: grey;
    display: flex;
    align-items: center;
}

.footer__input input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #F5F7FA;
}

.footer__input input::placeholder {
    color: #F5F7FA;
}